.academyHero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(1, 11, 20, 0.7)), url("../images/card2.jpg");
  height: 93vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.heroContent h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 4rem;
}
.academyAbout {
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutContent {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 90%;
  align-items: center;
  justify-content: center;
}
.aboutContent h1 {
  text-align: center;
  margin: 5rem 0;
  text-align: center;
  font-size: 3rem;
}
.aboutContent p {
  line-height: 1.4;
  font-weight: 500;
  font-size: 1.6rem;
}
.aboutImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50%;
}
.academyCourses {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
}
.academyCourses h1 {
  text-align: center;
  margin: 4rem 0;
}
.gridCourses {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.courseCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.courseCard img {
  border-radius: 10px;
}
.courseCard h2 {
  text-align: center;
  margin: 3rem 0;
}

@media all and (min-width: 1000px) {
  .heroContent h1 {
    font-size: 5rem;
  }
  .heroContent h2 {
    font-size: 3.5rem;
  }
  .academyAbout {
    flex-direction: row;
    height: 80vh;
  }
  .aboutContent {
    justify-content: center;
    width: 60%;
    height: 100%;
  }
  .aboutContent h1 {
    margin: 5rem 0;
  }
  .aboutContent p {
    margin: 0 5rem;
  }
  .aboutImage {
    width: 40%;
    height: 100%;
    margin-right: 5rem;
  }
  .gridCourses {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .courseCard {
    margin: 2rem 4rem;
  }
}